<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaoshengnan.mytestforgit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowDefView">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <!--自定义的跳转协议-->
            <data
                android:scheme="test"
                android:host="gaogao"
                android:path="/defView"
                />
        </intent-filter>
        </activity>
        <activity android:name=".Retrofit2Test" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:scheme="test"
                    android:host="gaogao"
                    android:path="/Retrofit2"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".webview.WebViewTest" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:scheme="test"
                    android:host="gaogao"
                    android:path="/WebViewTest"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".webview.JSTest" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:scheme="test"
                    android:host="gaogao"
                    android:path="/JSTest"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.RxJavaTest" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="test"
                        android:host="gaogao"
                        android:path="/RxJava"
                />
            </intent-filter>
        </activity>
    </application>
    <!--添加网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>